body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	height:100%;

	font-size: 16px;
	font-weight: bold;
	background-color: #000066;
	background-image: url("../images/clouds.jpg");
    overflow-x: hidden;

}

.letterHolder{
	width: 100%;
  	display:inline-block;
	text-align: center;
	
}

.letter{

	display:inline-block;
	text-align: center;
	width: 30px;
	margin-top: 5px; 
	border-bottom:3px solid #CC0900;
	font-size: 32px;
	color: #CC0900;
}

.letterSpacer{

	display:inline-block;
	width: 30px;
	margin-top: 30px; 
}

.introText{
	color: #CC0900;
	font-size: 16px;
	font-weight: bold;
	margin: 0px;

}

.imgMargin{
 	margin: 20px;
}

.videoMargin{
 	margin: 0 0 20px 0;
 	text-align: center;
 	width: 500px;
 	height: 333px;
}

.scoreboard{
	clear:both;
	float: left;
	margin-top: 0px;
	color: #CC0900;

}

.scoreText{
	text-align: center;
	color: #CC0900;
	font-size: 28px;
}
.buttonMargin{
	margin-top: 10px;
	display: none;
}
.panel-default, .panel, .panel-heading{
  border: solid 1px #CC0900;
  box-shadow: none;
  background-color: rgba(255,255,255,.5);
}

video{
    margin:0;
    padding:0;
}
.panelMod{
	border: solid 3px #CC0900;
	box-shadow: none;
}
.sidepanel {
	height: 320px;

}
.blueText{
	float: left;
color: #000066;

}
.jet{
	position: absolute;
	z-index: -10;
	display: none;
}

@media(max-width: 1199px){
	.videoMargin{
		width: 450px;
 		height: 300px;

	}
}
@media(max-width: 991px){
	.videoMargin{
		width: 550px;
 		height: 400px;

	}
	.sidepanel{
		height:120px;
		margin: 0;
		padding: 0;
	}
}
